.viewerContainer {
  .statsOutput {
    position: absolute;
    opacity: 0.6;
    top: 1px;
    left: 1px;
  }
  .propertyPanel {
    position: absolute;
    right: 1px;
    bottom: 20px;
  }
  .axesRenderer {
    width: 100px;
    height: 100px;
    position: absolute;
    display: block;
    bottom: 1px;
    right: 10px;
    background: #ffffff00;
  }
  :global(.css2dRenderer) {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none; // make sure not to affect mouse event for the scene
  }
  .uploadEvents {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    :global(.el-card) {
      min-width: 200px;
      font-size: 14px;
      &__header {
        padding: 8px 12px;
      }
      &__body {
        padding: 12px
      }
    }
    .eventList {
      padding: 5px;
      .eventBox {
        display: flex;
        min-width: 250px;
        justify-content: space-between;
        color: #606266;
        :global(.el-icon-loading) {
          color: #409EFF;
        }
        :global(.el-icon-warning) {
          color: #E6A23C;
        }
        :global(.el-icon-success) {
          color: #67C23A;
        }
      }
    }
    .uploadBtnWrapper {
      left: 50%;
      display: inline-flex;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      &::before {
        background-color: white;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 0 0 .6em .6em;
        transform: perspective(0.5em) rotateX(357deg);
        transform-origin: bottom;
        border: 1px solid #EBEEF5;
        border-top: none;
      }
    }
  }
  
  .createDialog {
    :global(.el-dialog) {
      @media only screen and (max-width: 512px) {
        width: 100%;
      }
      @media (min-width: 512px) and (max-width: 768px) {
        width: 80%;
      }
      @media (min-width: 768px) and (max-width: 960px) {
        width: 50%;
      }
    }
    :global(.el-dialog__body) {
      display: flex;
      justify-content: center;
    }
  }
}