.projectCard {
  width: 100%;
  height: 100%;
  min-width: 150px;
  min-height: 150px;
  background-color: #FFF;
  color: #303133;
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
  .card {
    border: 1px solid rgba(109, 76, 65, 0.5);
    margin: 10px;
    transition: all 0.1s;
    opacity: 0.8;
    background-color: #f6f6f6;
    &:hover {
      cursor: pointer;
      border: 1px solid rgba(109, 76, 65, 1.0);
      opacity: 1.0;
      box-shadow: 3px 5px 10px rgba(109, 76, 65, 0.5);
    }
    .thumbnail {
      height: 150px;
      background-image: url('/images/default-thumbnail.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      transition: all 0.1s;
      .deleteBtn {
        float: right;
        padding: 6px;
        font-size: 16px;
        display: none;
      }
      &:hover .deleteBtn {
        display: block;
      }
    }
    .infos {
      min-height: 40px;
      text-align: center;
      font-size: 14px;
      padding: 2px;
      .info {
        height: 16px;
        line-height: 35px;
      }
    }
  }
}
